.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-container-container {
  position: relative;
  width: clamp(300px, 100%, 600px);
  height: 600px;
  border: 3px solid black;
}